<div class="col-sm-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://img.stpu.com.br/?img=https://s3.amazonaws.com/pu-mgr/default/a0RG000000pPJxfMAG/593fee44e4b06e1b7aa96e99.jpg&w=620&h=400" alt="Comida">
    <div class="card-body">
      <h5 class="card-title">{{nome}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{descricao}}</h6>
      <p class="card-text font-lg">R$ {{valor}}</p>

      <button type="button" class="btn btn-success btn-sm">
        <i class="fas fa-credit-card"></i>
        Comprar
      </button>
      <button type="button" class="btn btn-info btn-sm" onclick="adicionarAoCarrinho('{{id}}');">
        <i class="fas fa-cart-plus"></i>
        Adicionar ao Carrinho
      </button>

    </div>
  </div>
</div>
