<div class="form-group">
{{#if label}}
  <label for="{{id}}">{{label}}</label>
{{/if}}

  <input 
    id="{{id}}" 
    name="{{id}}"
    type={{type}}
    class="form-control" 
    placeholder="{{placeholder}}"
    value="{{value}}"
{{#if helpId}}
    aria-describedby="{{helpId}}"
{{/if}}
    >

{{#if helpId}}
  <small 
    id="{{helpId}}" 
    class="form-text text-muted">
    {{helpText}}
  </small>
{{/if}}
</div>