{{!< ../layout/default }}

{{#contentFor 'sidebar'}}
  <div class="sidebar-header">
    <h3>foto...</h3>
  </div>

  <ul class="nav flex-column"> <!-- list-unstyled components -->
    <p>Usuário Modelo</p>
    <li class="nav-item">
      <a class="nav-link active" href="/">Início</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/carrinho">Carrinho</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/pedidos">Meus Pedidos</a>
    </li>
  </ul>
{{/contentFor}}

{{#contentFor 'footer'}}
  Rodapé (Cliente)
{{/contentFor}}