<!-- name of layout -->
<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Valbernielson's Hamburgueria</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" /> 

    <link rel="stylesheet" href="/custom.css">
    <link rel="stylesheet" href="/bootstrap-4.2.1\css\bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/bootstrap-4.2.1\css\bootstrap-grid.min.css">
    <link rel="stylesheet" href="/bootstrap-4.2.1\css\bootstrap.css">
    <link rel="stylesheet" href="/fontawesome-5.6.3\css\all.min.css">
  </head>

  <body>
    <header>
      {{#block 'nav'}}
        Menu de Navegação
      {{/block}}
    </header>

    <div class="wrapper container-fluid">
      <nav id="sidebar">
      {{#block 'sidebar'}}
        Menu de Navegação Lateral
      {{/block}}
      </nav>

      <div class="container-fluid">
      {{#block 'content'}}
        Conteúdo principal
      {{/block}}
      </div>
    </div>

    <footer>
    {{#block 'footer'}}
      Rodapé
    {{/block}}
    </footer>  
  </body>

  <script src="/jquery-3.3.1.slim.min.js"></script>
  <script src="/bootstrap-4.2.1/js/bootstrap.bundle.js"></script>
  <script src="/fontawesome-5.6.3/js/all.min.js"></script>
  <script src="/custom.js"></script>
</html>