{{!< ../layout/default }}

{{#contentFor 'sidebar'}}
  <div class="sidebar-header">
    <h3>foto...</h3>
  </div>

  <ul class="nav flex-column"> <!-- list-unstyled components -->
    <p>Usuário Modelo</p>
    <li class="nav-item">
      <a class="nav-link active" href="/gerente">Início</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/gerente/produtos">Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/gerente/pedidos">Pedidos</a>
    </li>
  </ul>
{{/contentFor}}

{{#contentFor 'footer'}}
  Rodapé (Gerencial)
{{/contentFor}}