{{!< ../layout/gerente }}

{{#contentFor 'content'}}

<div>
  Cadastro de produtos

  <form enctype='application/json' method="POST" action="/gerente/produtos/cadastrar">
    {{> input-bs 
      id="nome" 
      label="Nome" 
      placeholder="Nome do produto"
      type="text"
    }}

    {{> input-bs
      id="descricao" 
      label="Descriçao" 
      placeholder="Descrição do produto"
      type="text"
      helpId="descricao-help"
      helpText="Ex.: Pão italiano, hamburguer artesanal, queijo provolone, tomate e cebola caramelizada."
    }}

    {{> input-bs
      id="valor" 
      label="Valor" 
      placeholder="Valor do produto"
      type="number"
    }}

    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>

{{/contentFor}}