{{!< ../layout/gerente }}

{{#contentFor 'content'}}

<div>
  {{#unless produto}}
  Produto não encontrado
  {{/unless}}

  {{#if produto}}
  Confirma a exclusão do produto?

  <form method="POST" action="/gerente/produtos/confirmarExclusao/{{produto.id}}">
    {{produto.id}}
    {{produto.nome}}
    {{produto.descricao}}

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{/if}}
</div>

{{/contentFor}}