{{!< ../layout/gerente }}

{{#contentFor 'content'}}

<div>
  Produtos Cadastrados

  <div class="container">
    <form method="GET" action="/gerente/produtos/cadastrar">
      <button class="btn btn-primary btn-sm">Cadastrar novo Produto</button> 
    </form>

    <span>{{produtos.length}}</span>

    <table class="table table-bordered table-hover"> <!---->
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nome</th>
          <th scope="col">Descricao</th>
          <th scope="col">Valor</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody>
      {{#each produtos}}
        <tr>
          <th scope="row">-{{id}}</th>
          <td>{{nome}}</td>
          <td>{{descricao}}</td>
          <td>R$ {{valor}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <form method="GET" action="/gerente/produtos/editar">
                <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fas fa-pencil-alt font-md"></i>
                </button>
              </form>
              <form method="GET" action="/gerente/produtos/confirmarExclusao/{{id}}">
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash-alt font-md"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
      {{/each}}
      <tbody>
    </table>
  </div>
</div>

{{/contentFor}}