{{!< ../layout/cliente }}

{{#contentFor 'content'}}
  <div class="row">
    {{cliente.carrinho}}
  </div>

  <form action="/" method="POST">
    <input class="btn btn-primary" type="submit" value="Confirmar Pedido" />
    <input class="btn btn-danger" type="submit" value="Cancelar Pedido" />
  </form>
{{/contentFor}}