{{!< ../layout/cliente }}

{{#contentFor 'content'}}

<div>
  Meus Pedidos

  <div class="container">
    {{#if pedidos}}
    <table class="table table-bordered table-hover"> <!---->
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">#Prod.</th>
          <th scope="col">Produto</th>
          <th scope="col">Valor</th>
          <th scope="col">Endereço de Entrega</th>
          <th scope="col">Complemento</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>

      <tbody>
        {{#each pedidos}}
        <tr>
          <th scope="row">-{{id}}</th>
          <td>{{produto.id}}</td>
          <td>{{produto.nome}}</td>
          <td>R$ {{valor}}</td>
          <td>{{endereco.descricao}}, {{endereco.numero}}</td>
          <td>{{endereco.complemento}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <form method="get" action="/clientes/pedidos/alterar">
                <button type="submit" class="btn btn-primary btn-sm">
                  <i class="fas fa-pencil-alt font-md"></i>
                  Alterar dados do Pedido
                </button>
              </form>
              <form method="get" action="/clientes/pedidos/cancelar">
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="fas fa-trash-alt font-md"></i>
                  Cancelar Pedido
                </button>
              </form>
            </div>
          </td>
        </tr>
      {{/each}}
      <tbody>
    </table>
    {{/if}}
  </div>
</div>

{{/contentFor}}