{{!< ../layout/cliente }}

{{#contentFor 'content'}}
<div>
  O que deseja comer?
  <div class="container-fluid">

    <div class="row">
      Filtros
    </div>

    <div class="row">
      {{#each produtos}}
        {{> card-produto this }}
      {{/each}}
    </div>

  </div>
</div>
{{/contentFor}}