{{!< ../layout/cliente }}

{{#contentFor 'content'}}
  <form method="POST" action="/login">

    {{> input-bs
      id="email" 
      label="E-mail" 
      placeholder="E-mail"
      type="email"
      value=email
    }}

    <span>{{mensagem}}</span>
    <br>

    <button type="submit" class="btn btn-primary">Login</button>
  </form>
{{/contentFor}}