{{!< ../layout/cliente }}

{{#contentFor 'content'}}
  <form method="POST" action="/registrar">
    {{> input-bs 
      id="nome" 
      label="Nome" 
      placeholder="Nome"
      type="text"
    }}

    {{> input-bs
      id="email" 
      label="E-mail" 
      placeholder="E-mail"
      type="email"
    }}

    <button type="submit" class="btn btn-primary">Registrar</button>
  </form>
{{/contentFor}}