/* Custom Styles */

.margin-sm {
  margin: 2px;
}

.font-sm {
  font-size: 15px;
}
.font-md {
  font-size: 25px;
}
.font-lg {
  font-size: 35px;
}

/* Side bar Style */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 90vh;
}
#sidebar.active {
    margin-left: -250px;
}
@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 20px;
}

#sidebar ul.components {
  padding: 20px 0;
}

#sidebar ul p {
  padding: 10px;
}

